<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name=”twitter:site” content=”@{{ site.twitter }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/mobile.css" type="text/css" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
  <div class="header">
    <div class="container">
      <div id="logo"><a href="/" style="background-image: url('{{ site.logo }}');"></a></div>
      <ul class="menu">
      {% for item in site.links %}
        <li><a href="{{ item.link }}">{{ item.text }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="hero" style="background-image: url('{{ page.image }}');"></div>

  {{ content }}

  <div class="footer" style="background-image: url('{{ page.image }}');">
      <div class="container">
        <section class="meta">
          <a class="block" href="https://www.facebook.com/{{ site.facebook }}">
            <span class="fa fa-facebook-square fa-lg" />
          </a>

          <a class="block" href="https://twitter.com/{{ site.twitter }}">
            <span class="fa fa-twitter fa-lg" />
          </a>

          <a class="block" href="https://www.youtube.com/user/{{ site.youtube }}">
            <span class="fa fa-youtube-play fa-lg" />
          </a>
        </section>

        <p>Made in Toulouse © Copyright 2012-2015 Springbeats, Sarl. All rights reserved.</p>
        <div style="clear: both"></div>
      </div>
    </div>

</body>

</html>
